#
# Run unit tests.
#
name: Tests

on:
  workflow_call:

jobs:
  tests:
    name: Run Unit Tests
    timeout-minutes: 30
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - "ubuntu-24.04"
          - "ubuntu-22.04"
          - "macos-latest"
        ruby:
          - "3.0"
          - "3.1"
          - "3.2"
          - "3.3"
          - "3.4"
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: set up Ruby ${{ matrix.ruby }}
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true

    - name: Install Ghostscript on Ubuntu
      if: runner.os == 'Linux'
      run: |
          sudo apt update
          sudo apt-get install -y ghostscript imagemagick

    - name: Install Ghostscript and ImageMagick on macOS
      if: runner.os == 'macOS'
      run: |
        brew install ghostscript imagemagick
        crlrefresh rpv
    - name: Change ImageMagick security policy on Ubuntu
      if: runner.os == 'Linux'
      run: |
        DQT='"'
        SRC="rights=${DQT}none${DQT} pattern=${DQT}PDF${DQT}"
        RPL="rights=${DQT}read|write${DQT} pattern=${DQT}PDF${DQT}"
        sudo sed -i "s/$SRC/$RPL/" /etc/ImageMagick-6/policy.xml

    - name: Run Rspec
      env:
        MINDEE_LOG_LEVEL: DEBUG
      run: |
        bundle exec rake spec
