#
# Run integration tests.
#
name: Integration Tests

on:
  workflow_call:
  workflow_dispatch:

jobs:
  integration-tests:
    name: Run Integration Tests
    timeout-minutes: 30
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 3
      matrix:
        os:
          - "ubuntu-24.04"
          - "macos-latest"
        ruby:
          - "3.0"
          - "3.4"
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: set up Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Install Ghostscript on Ubuntu
        if: runner.os == 'Linux'
        run: |
          sudo apt update
          sudo apt-get install -y ghostscript

      - name: Install Ghostscript and ImageMagick on macOS
        if: runner.os == 'macOS'
        run: brew install ghostscript imagemagick
      - name: Change ImageMagick security policy on Ubuntu
        if: runner.os == 'Linux'
        run: |
          DQT='"'
          SRC="rights=${DQT}none${DQT} pattern=${DQT}PDF${DQT}"
          RPL="rights=${DQT}read|write${DQT} pattern=${DQT}PDF${DQT}"
          sudo sed -i "s/$SRC/$RPL/" /etc/ImageMagick-6/policy.xml

      - name: Update Homebrew CA certificates (macOS)
        run: brew install openssl && brew update && brew upgrade && sudo security add-trusted-cert -d -r trustRoot -k /Library/Keychains/System.keychain /etc/ssl/certs/ca-certificates.crt
        if: runner.os == 'macOS'

      - name: Run Rspec for integration tests
        env:
          MINDEE_API_KEY: ${{ secrets.MINDEE_API_KEY_SE_TESTS }}
          WORKFLOW_ID: ${{ secrets.WORKFLOW_ID_SE_TESTS }}
          MINDEE_V2_API_KEY: ${{ secrets.MINDEE_V2_SE_TESTS_API_KEY }}
          MINDEE_V2_FINDOC_MODEL_ID: ${{ secrets.MINDEE_V2_SE_TESTS_FINDOC_MODEL_ID }}
          MINDEE_V2_SE_TESTS_BLANK_PDF_URL: ${{ secrets.MINDEE_V2_SE_TESTS_BLANK_PDF_URL }}
          MINDEE_LOG_LEVEL: DEBUG
        run: |
          bundle exec rake integration

      - name: Notify Slack Action on Failure
        uses: ravsamhq/notify-slack-action@2.3.0
        if: ${{ always() && github.ref_name == 'main' }}
        with:
          status: ${{ job.status }}
          notify_when: "failure"
          notification_title: "[Ruby] Integration test '{workflow}' is failing"
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.PRODUCTION_ISSUES_SLACK_HOOK_URL }}
